@using KUSYS.Models
@model Student
@*
<!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">   
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Öğrenci</h4>
            </div>
            <div class="modal-body">
             <form method="post" class="form-horizontal" action="/Student/Editing_ShowStudent/id">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="fname">Ad:</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="@Model.FirstName" id="fname" placeholder="Ad" name="FirstName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="lname">Soyad:</label>
                  <div class="col-sm-10">          
                    <input type="text" readonly class="form-control" value="@Model.LastName" id="lname" placeholder="Soyad" name="LastName">
                  </div>
                </div> 
                <div class="form-group">
                  <label class="control-label col-sm-2" for="birth">Doğum Tarihi:</label>
                  <div class="col-sm-10">          
                    <input type="date" readonly class="form-control" value="@Model.BirthDate" id="birth" placeholder="Soyad" name="BirthDate">
                  </div>
                </div> 
                <div class="form-group">        
             
                </div>
       
              </form>
            </div>
            <div class="container">
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>      
          </div>
        </div>
    </div> *@
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
               <td>
                  
                             <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="@Model.FirstName" id="fname" placeholder="Ad" name="FirstName">
                  </div>
            <br/>
                              <div class="col-sm-10">          
                    <input type="text" readonly class="form-control" value="@Model.LastName" id="lname" placeholder="Soyad" name="LastName">
                  </div>
                              <div class="col-sm-10">          
                    <input type="date" readonly class="form-control" value="@Model.BirthDate" id="birth" placeholder="Soyad" name="BirthDate">
                  </div>
            <br/>
            
        </td>
    </tr>
</table>